*{
    font-family: "Agency FB";
}


#dv{
    height: 100px;
    background: yellow;
    width: 350px;

    border : 2px solid red ;

}

#d1{
    background-color: aquamarine;
    width: 330px;
    text-align: center;
    color: fuchsia;
    font-family: "Agency FB";


    border-style: solid;
    border-color: black;
    border-width: 2px;

}

p{
    color: crimson;

    height: 80px;
    font-size: 20px;



}

.cls1{
    background-color: aquamarine;
    width: 100px;
    height: 100px;

    text-align: center;
    font-size: 20px;
    color: silver;
    font-weight: bold;
    font-family: "Rockwell Extra Bold";

    border: 2px solid black;
    border-radius: 50%;

/*    now 3 conditions to meet
 1. height == width ,
 2. border shall be there ,
 3. now give border-radius half of height in percent */

}

/* Display properties */

#a1{
    background-color: aquamarine;
    text-align: center;
    color: black;
    font-family: "Agency FB";


    border: 2px solid black;
    display: inline;


}
#a2{
    background-color: salmon;
    /*width: 330px;*/
    text-align: center;
    color: black;
    font-family: "Agency FB";


    border: 2px solid black;
    display: block;


}
#a3{
    background-color: yellow;
    text-align: center;
    color: black;
    font-family: "Agency FB";


    border: 2px solid black;
    /*display:none ; !*  does not diaplay anything  hides it   *!*/
    display: inline-block;



}

/* color: rgba(255,0,255,0.5);  this is for opacity how visible it shall be same like rgb :- Alpha channel */