*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

/*---------------------------------------------------*/

#face{
    height: 300px;
    width: 300px;
    background-color: aquamarine;

    border: 2px solid black;
    border-radius: 20% 20% 50% 50%;

    margin: 10% 10% 10% 10% ; /* space from border becz in unversal i have set it 0*/


}

#i1{
     height: 30%;
     width: 30%;
     background-color: crimson;
     border: 2px solid black;

     margin: 7px  5px 95px 11px;

    border-radius: 50%;


    display: inline-block;
 }

#nose{
    height: 30%;
    width: 10%;
    background-color: greenyellow;

    border: 2px solid black;
    border-radius: 50% 50% 25% 25%;

    margin: 8px 15px 5px 15px;
    display: inline-block;
}

#i2{
    height: 30%;
    width: 30%;
    background-color: crimson;

    border: 2px solid black;
    border-radius: 50%;


    margin: 7px  11px 95px 5px;
    display: inline-block;
}


#mouth{
    height: 20%;
    width: 60%;
    background-color: snow;

    border: 2px solid black;
    border-radius: 2% 2% 100% 100%;

    margin: 15px 60px 10px 60px;
    display: block;
}

#teeth{
    background-color: black;
    display: block;
}



/*--------------------------------------------------------------------------------------------  */


/*
border-radius: 10px 20px 30px 40px; 
               TL   TR   BR   BL 

top-left
top-right
bottom-right
bottom-left

*/


/*
margin: 10px  20px   30px    40px;
        top   right  bottom  left
it moves in clockwise 
*/

